x64/*
FluidSimulation/x64/*
.vs/*
Debug/*
cmake-build-debug/*
.idea/*
FluidSimulation/objs/*
CMakeFiles/*
FluidSimulation/CMake*
FluidSimulation/cmake*
FluidSimulation/FluidSimulation
Makefile
*.cmake
